@import "../utils/variables";
@import "../utils/mixins";

.main__button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 128px;
  height: 48px;
  left: 830px;
  top: 338px;
  @include buttonStyle;
}
