@import "./utils/variables";

.main {
  position: relative;
  width: 1440px;
  height: 960px;
  background: #ffffff;
  @media only screen and (max-width: $bp-huge) {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: 1fr 1fr;
    place-items: center;

    text-align: center;
  }
  &__image {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
    @media only screen and (max-width: $bp-huge) {
      position: relative;
      width: 80%;
      height: 100%;
      margin-top: 5rem;
      left: 0;
      top: 0;
    }
  }

  &__description {
    &--header {
      position: absolute;
      width: 380px;
      height: 50px;
      left: calc(50% - 380px / 2 + 300px);
      top: calc(50% - 50px / 2 - 319px);
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
      color: #121212;
      @media only screen and (max-width: $bp-huge) {
        position: relative;
        left: 0;
        top: 0;
        height: 5rem;
        width: 38rem;
      }
    }

    &--paragraph {
      position: absolute;
      width: 380px;
      height: 96px;
      left: calc(50% - 380px / 2 + 300px);
      top: calc(50% - 96px / 2 - 222px);
      font-family: $roboto-font;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #121212;
      @media only screen and (max-width: $bp-huge) {
        position: relative;
        width: 38rem;
        height: 9.6rem;
        left: 0;
        top: 0;
        font-family: $roboto-font;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        color: #121212;
      }
    }
  }
}
