@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: "Roboto", arial, sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

#root {
  @include flex(column, center, center);
}
