.component {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  width: 1440px;
  height: auto;
  overflow: hidden;

  & > .component-image {
    width: 505px;
    height: 330px;
    margin: 96px 95px 0 230px;
  }

  & > .component-content {
    @include flex(column, center, start);

    margin: 136px 0 230px 95px;

    .component-header {
      font-size: 42px;
      font-weight: bold;
      line-height: 50.4px;
    }

    .component-paragraph {
      width: 380px;
      height: 96px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
      color: #121212;
    }

    .component-button {
      @include deafultButton;
    }
  }
}
