//mobile
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    margin: 0 auto;
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;
    overflow-x: hidden;
    max-width: 366px;

    .header {
      margin: 0 auto;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      color: $color-black;
      margin-bottom: 60px;
      width: 100%;

      .photo {
        width: 100vh;
        height: 330px;
        object-fit: contain;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 16px;

        &__title {
          font-size: 2.2em;
          font-weight: 700;
          margin-bottom: 20px;
        }

        &__description {
          font-size: 1.125em;
          font-weight: 300;
          margin-bottom: 30px;
          max-width: 360px;
          line-height: 1.5em;
        }

        .button {
          padding: 12px 30px;
          width: 100%;
          height: 48px;
          border-radius: 50px;
          background-color: $color-button;
          color: $color-white;
          font-weight: 700;
          border-color: transparent;
        }
      }
    }

    .popup {
      background-color: $color-overlay;
      width: 100%;
      height: 110%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert {
        width: 60%;
        height: 310px;
        background-color: $color-white;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        &__title {
          font-size: 2.625em;
          font-weight: 700;
          margin-top: 80px;
          // margin-left:95px;
        }

        &__message {
          font-size: 1.125em;
          text-align: center;
          font-weight: 300;
          margin-top: 24px;
          max-width: 70%;
          line-height: 1.5em;
          span {
            font-weight: 500;
          }
        }
      }

      .alert::after {
        content: "✕";
        position: absolute;
        top: 20px;
        left: calc(100% - 30px);
      }
    }
  }
}
// tablet
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;

    .header {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 60px;
      color: $color-black;

      .photo {
        width: 405px;
        height: 230px;
      }

      .content {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 2em;
          font-weight: 700;
          margin-bottom: 20px;
        }

        &__description {
          font-weight: 300;
          margin-bottom: 20px;
          max-width: 340px;
          line-height: 1.5em;
        }

        .button {
          padding: 12px 30px;
          width: 128px;
          height: 48px;
          border-radius: 50px;
          background-color: $color-button;
          color: $color-white;
          font-weight: 700;
          border-color: transparent;
        }
      }
    }

    .popup {
      background-color: $color-overlay;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert {
        width: 80%;
        height: 210px;
        background-color: $color-white;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        &__title {
          font-size: 2.625em;
          font-weight: 700;
          margin-left: 95px;
        }

        &__message {
          font-weight: 300;
          margin-top: 30px;
          margin-left: 95px;

          span {
            font-weight: 500;
          }
        }
      }

      .alert::after {
        content: "✕";
        position: absolute;
        top: 20px;
        left: calc(100% - 30px);
      }
    }
  }
}
// small desktop
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;

    .header {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 96px;
      color: $color-black;

      .photo {
        width: 505px;
        height: 330px;
      }

      .content {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 2.625em;
          font-weight: 700;
          margin-bottom: 25px;
        }

        &__description {
          font-weight: 300;
          margin-bottom: 30px;
          max-width: 380px;
          line-height: 1.5em;
        }

        .button {
          padding: 12px 30px;
          width: 128px;
          height: 48px;
          border-radius: 50px;
          background-color: $color-button;
          color: $color-white;
          font-weight: 700;
          border-color: transparent;
        }
      }
    }
    .popup {
      background-color: $color-overlay;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert {
        width: 80%;
        height: 30%;
        background-color: $color-white;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        &__title {
          font-size: 2.625em;
          font-weight: 700;
          margin-left: 95px;
        }

        &__message {
          font-weight: 300;
          margin-top: 24px;
          margin-left: 95px;

          span {
            font-weight: 500;
          }
        }
      }
      .alert::after {
        content: "✕";
        position: absolute;
        top: 20px;
        left: calc(100% - 30px);
      }
    }
  }
}
// desktop
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;

    .header {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 96px;
      color: $color-black;

      .photo {
        width: 505px;
        height: 330px;
      }

      .content {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 2.625em;
          font-weight: 700;
          margin-bottom: 25px;
        }

        &__description {
          font-weight: 300;
          margin-bottom: 30px;
          max-width: 380px;
          line-height: 1.5em;
        }

        .button {
          padding: 12px 30px;
          width: 128px;
          height: 48px;
          border-radius: 50px;
          background-color: $color-button;
          color: $color-white;
          font-weight: 700;
          border-color: transparent;
        }
      }
    }

    .popup {
      background-color: $color-overlay;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert {
        width: 920px;
        height: 210px;
        background-color: $color-white;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        &__title {
          font-size: 2.625em;
          font-weight: 700;
          margin-left: 95px;
        }

        &__message {
          font-weight: 300;
          margin-top: 30px;
          margin-left: 95px;

          span {
            font-weight: 500;
          }
        }
      }

      .alert::after {
        content: "✕";
        position: absolute;
        top: 20px;
        left: calc(100% - 30px);
      }
    }
  }
}
// large desktop
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;

    .header {
      margin-top: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 120px;
      color: $color-black;

      .photo {
        width: 805px;
        height: 630px;
        object-fit: contain;
      }

      .content {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 3.5em;
          font-weight: 700;
          margin-bottom: 25px;
        }

        &__description {
          font-size: 2em;
          font-weight: 300;
          margin-bottom: 60px;
          max-width: 540px;
          line-height: 1.5em;
        }

        .button {
          padding: 12px 30px;
          width: 228px;
          height: 68px;
          border-radius: 50px;
          background-color: $color-button;
          color: $color-white;
          font-weight: 700;
          font-size: 2em;
          border-color: transparent;
        }
      }
    }

    .popup {
      background-color: $color-overlay;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert {
        width: 70%;
        height: 30%;
        background-color: $color-white;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 60px;

        &__title {
          font-size: 5em;
          font-weight: 700;
          margin-left: 100px;
        }

        &__message {
          font-size: 2em;
          font-weight: 300;
          margin-left: 100px;

          span {
            font-weight: 500;
          }
        }
      }

      .alert::after {
        content: "✕";
        position: absolute;
        font-size: 2em;
        top: 50px;
        left: calc(100% - 60px);
      }
    }
  }
}
// full HD / 4k
@media screen and (min-width: 1921px) {
  .container {
    margin: 0 auto;
    max-width: 1880px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $main-font;

    .header {
      margin-top: 120px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 120px;
      color: $color-black;

      .photo {
        width: 805px;
        height: 630px;
        object-fit: contain;
      }

      .content {
        display: flex;
        flex-direction: column;

        &__title {
          font-size: 3.5em;
          font-weight: 700;
          margin-bottom: 25px;
        }

        &__description {
          font-size: 2em;
          font-weight: 300;
          margin-bottom: 60px;
          max-width: 540px;
          line-height: 1.5em;
        }

        .button {
          padding: 12px 30px;
          width: 228px;
          height: 68px;
          border-radius: 50px;
          background-color: $color-button;
          color: $color-white;
          font-weight: 700;
          font-size: 2em;
          border-color: transparent;
        }
      }
    }

    .popup {
      background-color: $color-overlay;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert {
        width: 70%;
        height: 30%;
        background-color: $color-white;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: 60px;

        &__title {
          font-size: 5em;
          font-weight: 700;
          margin-left: 100px;
        }

        &__message {
          font-size: 2em;
          font-weight: 300;
          margin-left: 100px;

          span {
            font-weight: 500;
          }
        }
      }

      .alert::after {
        content: "✕";
        position: absolute;
        font-size: 2em;
        top: 50px;
        left: calc(100% - 60px);
      }
    }
  }
}
