.container {
  position: relative;
  width: 1440px;
  height: 960px;

  background-color: #ffffff;
  &__images {
    position: absolute;
    width: 505px;
    height: 330px;
    left: 230px;
    top: 96px;
  }
  &__text {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 830px;
    top: 136px;
    .title {
      position: absolute;
      width: 380px;
      height: 50px;
      left: calc(50% - 980px / 2 + 300px);
      top: calc(50% + 310px / 2 - 319px);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
      color: #121212;
    }
    .desc {
      position: absolute;
      width: 380px;
      height: 96px;
      left: calc(50% - 980px / 2 + 300px);
      top: calc(50% + 310px / 2 - 222px);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: #121212;
      text-align: justify;
    }
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 16px;
      gap: 10px;
      position: absolute;
      width: 128px;
      height: 48px;
      left: 0px;
      top: 190px;
      background-color: #010029;
      border-radius: 32px;
      border: 5px solid transparent;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      color: #ffffff;
      &:hover {
        outline: 0px solid transparent;
        padding: 1% 2%;
        background-color: #2d5d53;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width: 1439px) {
  .container__images {
    max-width: 500px;
  }
}
@media only screen and (max-width: 424px) {
  .container__images {
    left: 200px;
  }
}
