body{
    margin: 0;
    border: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

    .container{
        width: 1440px;
        height: 100vh;

        .img-cont{
            float: left;
            width: 505px;
            height: 330px;
            margin: 5% 0 0 15%;
        }

        .content{
            float: left;
            width: 380px;
            height: 330px;
            margin: 5% auto 0 15%;
            font-size: 16px;
            line-height: 150%;

            h2{
                font-size: 42px;
                line-height: 120%;
            }

            .btn-cont{
                width: 128px;
                height: 48px;
                color: #fff;
                background-color: #E4C1AE;
                border-radius: 28px;
                text-align: center;
                line-height: 48px;
                margin-top: 32px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
    .popup-container{
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #12121288;
        .popup{
            position: relative;
            width: 920px;
            height: 210px;
            background-color: #fff;
            left: 50%; 
            top: 50%;
            transform: translate(-50%, -50%);
            .popup-content{
                position: absolute;
                width: 100%;
                height: 100%;
                margin-left: 100px;
                pointer-events: none;
                h2{
                    font-size: 42px;
                    line-height: 120%;
                }
                span{
                    line-height: 150%;
                    .popup-content-semibold{
                        font-weight: 600;
                    }
                }
            
            }
            .popup-close-ico{
                position: absolute;
                top: 40px;
                right: 40px;
                font-size: 24px;
                pointer-events: all;
            }
            .btn-popup-rest{
                display: none;
                position: absolute;
                bottom: 40px;
                right: 40px;
                width: 200px;
                height: 30px;
                line-height: 30px;
                border-radius: 15px;
                color: #fff;
                font-weight: bold;
                text-align: center;
                font-size: 16px;
                background-color: #E4C1AE;
                cursor: pointer;

                &.is-open{
                    display: block;
                }
            }
        }

        &.is-open{
            display: block;
        }
    }      
}