.modal {
  position: absolute;
  width: 920px;
  height: 210px;
  left: 720px;
  top: 480px;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
  &__header {
    .title {
      position: absolute;
      width: 380px;
      height: 50px;
      left: calc(50% - 380px / 2 - 175px);
      top: calc(50% - 150px / 2 - 24px);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 120%;
      color: #121212;
      text-align: left;
    }
  }
  &__body {
    position: absolute;
    width: 380px;
    height: 24px;
    left: calc(50% - 380px / 2 - 175px);
    top: calc(50% - 24px / 2 + 37px);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #121212;
  }
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal__header {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal__header {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
}
.close__button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.reset {
  visibility: hidden;
}
.reset__acive {
  visibility: visible;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
